<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.bandnara">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BandNara">
        <activity
            android:name=".EXActivity"
            android:exported="false" />
        <activity
            android:name=".elderlyActivity"
            android:exported="false" />
        <activity
            android:name=".settingActivity"
            android:exported="false" />
        <activity
            android:name=".typeActivity"
            android:exported="false" />
        <activity
            android:name=".announceActivity"
            android:exported="false" />
        <activity
            android:name=".informationUserActivity"
            android:exported="false" />
        <activity
            android:name=".confirmPinActivity"
            android:exported="false" />
        <activity
            android:name=".settingnewpasswordActivity"
            android:exported="false" />
        <activity
            android:name=".inphoneActivity"
            android:exported="false" />
        <activity
            android:name=".register3Activity"
            android:exported="false" />
        <activity
            android:name=".register2Activity"
            android:exported="false" />
        <activity
            android:name=".registerActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register1Activity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".loginActivity"
            android:exported="false" />
        <activity
            android:name=".newsActivity"
            android:exported="false" />
        <activity
            android:name=".OTPActivity2"
            android:exported="false">

        </activity>
    </application>

</manifest>