<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.bandnara">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BandNara">
        <activity
            android:name=".ViewEventAllActivity"
            android:exported="false" />
        <activity
            android:name=".ViewNewsAllActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePassActivity"
            android:exported="false" />
        <activity
            android:name=".MapMarkActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDIH2jqsz3iwpLJO-p3yLzoiDe7hd-9AI0" />

        <activity
            android:name=".EditAddressTwoActivity"
            android:exported="false" />
        <activity
            android:name=".EditAddressOneActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".EXActivity"
            android:exported="true" />
        <activity
            android:name=".elderlyActivity"
            android:exported="true" />
        <activity
            android:name=".settingActivity"
            android:exported="true" />
        <activity
            android:name=".typeActivity"
            android:exported="true" />
        <activity
            android:name=".announceActivity"
            android:exported="true" />
        <activity
            android:name=".informationUserActivity"
            android:exported="true" />
        <activity
            android:name=".confirmPinActivity"
            android:exported="true" />
        <activity
            android:name=".settingnewpasswordActivity"
            android:exported="true" />
        <activity
            android:name=".inphoneActivity"
            android:exported="true" />
        <activity
            android:name=".register3Activity"
            android:exported="true" />
        <activity
            android:name=".register2Activity"
            android:exported="true" />
        <activity
            android:name=".registerActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".register1Activity"
            android:exported="true" />
        <activity
            android:name=".loginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".newsActivity"
            android:exported="true" />
        <activity
            android:name=".OTPActivity2"
            android:exported="true" />
    </application>

</manifest>